<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control Panel</title>
  <link rel="stylesheet" href="cirrus.min.css">
  <script src="index.js" defer></script>
</head>
<body>
  <div class="row">
    <div class="col"><textarea id="input-text"></textarea></div>
    <div class="col">
      <div id="components"></div>
      <button class="btn-success" onclick="send_text()">Send text</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn-info">New Display</button>
    </div>
  </div>
</body>
</html>